<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-32 mx-10 pt-20">
    <a href="">
        <div class="h-44 rounded-lg bg-white hover:bg-gray-200 shadow-lg shadow-gray-600 hover:shadow-gray-800">
            <div class="flex justify-center items-center pt-5">
                <img src="/img/user.png" alt="">
            </div>
            <h1 class="text-center text-black mt-3 text-xl">User Monitoring</h1>
        </div>
    </a>
    <a href="{{ route('table.blog') }}">
        <div class="h-44 rounded-lg bg-white hover:bg-gray-200 shadow-lg shadow-gray-600 hover:shadow-gray-800">
            <div class="flex justify-center items-center pt-5">
                <img src="/img/blog_d.png" alt="">
            </div>
            <h1 class="text-center text-black mt-3 text-xl">Blog Content</h1>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nesciunt, ipsam vero nihil repellendus consequuntur fuga, similique at facere obcaecati non pariatur aliquam iusto, iure impedit perferendis. Illum ut, facilis laudantium beatae omnis dolor aliquid aspernatur id facere voluptates hic cumque velit fuga iste eaque itaque molestiae quos. Molestiae!
    </a>
    
</div>